@font-face {
  font-family: "Bebas-Neue-Book";
  src: url("/fonts/Bebas-Neue-Book.ttf.woff") format("woff"), url("/fonts/Bebas-Neue-Book.ttf.svg#Bebas-Neue-Book") format("svg"), url("/fonts/Bebas-Neue-Book.ttf.eot"), url("/fonts/Bebas-Neue-Book.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

.chemin {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

.chemin .home-icon {
  height: 15px;
  margin-right: 7px;
}

.button {
  text-transform: uppercase;
  font-size: 17px;
  font-family: "BebasNeue";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
  padding: 0 10px;
  border: none;
  color: #242f6d;
  background: white;
}

.button--primary:hover {
  background: white;
}

.button--secondary {
  color: white;
  background-color: #ff2e63;
}

.button--big {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 29px;
  height: auto;
}

.button--big > * {
  position: relative;
  top: 2px;
}

.heading {
  font-family: "BebasNeue";
  color: #242f6d;
  margin-bottom: 0;
}

.heading.small {
  font-size: 32px;
  line-height: 30px;
}

.heading--one {
  font-size: 55px;
  line-height: 55px;
  color: white;
}

.heading--one.small {
  line-height: 30px;
  font-size: 30px;
}

.heading--two {
  font-size: 50px;
  line-height: 45px;
}

.heading--three {
  font-size: 20px;
  line-height: 30px;
  position: relative;
  top: 1px;
}

p {
  color: #242f6d;
  margin: 0;
  line-height: normal;
  font-family: "Roboto", sans-serif;
}

p.small {
  font-size: 14px;
}

.blue {
  color: #242f6d;
}

.white {
  color: white;
}

b {
  font-weight: 700;
}

.left-container-shape {
  position: absolute;
  top: 40px;
  left: -160px;
}

a {
  color: #242f6d;
  text-decoration: underline;
}

a:hover {
  color: #242f6d;
}

/* START FONT -------------------------------->> */
@font-face {
  font-family: 'BebasNeue';
  src: url("../fonts/BebasNeue-Regular.eot");
  src: url("../fonts/BebasNeue-Regular.eot") format("embedded-opentype"), url("../fonts/BebasNeue-Regular.woff2") format("woff2"), url("../fonts/BebasNeue-Regular.woff") format("woff"), url("../fonts/BebasNeue-Regular.ttf") format("truetype"), url("../fonts/BebasNeue-Regular.svg#BebasNeue-Regular") format("svg");
}

@font-face {
  font-family: 'BebasNeueRegular';
  src: url("../fonts/BebasNeueRegular.eot");
  src: url("../fonts/BebasNeueRegular.eot") format("embedded-opentype"), url("../fonts/BebasNeueRegular.woff2") format("woff2"), url("../fonts/BebasNeueRegular.woff") format("woff"), url("../fonts/BebasNeueRegular.ttf") format("truetype"), url("../fonts/BebasNeueRegular.svg#BebasNeueRegular") format("svg");
}

/* END FONT << -------------------------------- */
header {
  padding-top: 10px;
}

header .icon-social {
  margin-right: 18px;
  padding-top: 3px;
  float: right;
}

header .icon-social a {
  width: 34px;
  height: 34px;
  display: inline-block;
  float: right;
  margin: 0px 3px;
}

header .icon-social a .icon-instagram,
header .icon-social a .icon-facebook,
header .icon-social a .icon-linkedin {
  width: 34px;
  height: 34px;
  background: #242f6d;
  color: #fff;
  display: inline-block;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

header .icon-social a .icon-instagram .fa-instagram,
header .icon-social a .icon-facebook .fa-instagram,
header .icon-social a .icon-linkedin .fa-instagram {
  font-size: 26px;
  top: 4px;
  left: 5px;
  position: relative;
}

header .icon-social a .icon-instagram .fa-facebook-f,
header .icon-social a .icon-facebook .fa-facebook-f,
header .icon-social a .icon-linkedin .fa-facebook-f {
  font-size: 18px;
  top: 8px;
  left: 11px;
  position: relative;
}

header .icon-social a .icon-instagram .fa-linkedin-in,
header .icon-social a .icon-facebook .fa-linkedin-in,
header .icon-social a .icon-linkedin .fa-linkedin-in {
  font-size: 18px;
  top: 9px;
  left: 10px;
  position: relative;
}

header .icon-social a:hover .icon-instagram {
  background: #2C6A93;
}

header .icon-social a:hover .icon-facebook {
  background: #3B5998;
}

header .icon-social a:hover .icon-linkedin {
  background: #04669A;
}

header .nous-contacter {
  margin-right: 5px;
  width: 143px;
  float: right;
  padding-top: 5px;
}

header .nous-contacter .nous-contacter-tel {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 16px;
  font-family: 'BebasNeue';
  border-radius: 0;
}

header .nous-contacter .nous-contacter-tel a {
  color: #242f6d;
}

header .nous-contacter .nous-contacter-tel a:hover {
  text-decoration: none;
  color: #4657b3;
}

header .telecharger-et-candidature {
  float: right;
}

header .telecharger-et-candidature ul {
  padding: 0;
  margin-bottom: 0.5rem;
}

header .telecharger-et-candidature ul li {
  list-style: none;
  display: inline-block;
}

header .telecharger-et-candidature .btn-telecharger-brochure {
  background: #242f6d;
  color: #fff;
  padding: 5px 10px 3px 10px;
  margin-right: 6px;
}

header .telecharger-et-candidature .btn-telecharger-brochure span {
  float: right;
  text-align: left;
}

header .telecharger-et-candidature .btn-telecharger-brochure:hover {
  background: #293788;
}

header .telecharger-et-candidature .btn-telecharger-brochure .icon-telecharger-brochure {
  top: 2px;
  margin-right: 12px;
  float: left;
}

header .telecharger-et-candidature .btn-candidature-en-ligne {
  background: #ff2e63;
  color: #fff;
  padding: 5px 10px 3px 10px;
  width: 141px;
}

header .telecharger-et-candidature .btn-candidature-en-ligne span {
  float: right;
  text-align: left;
}

header .telecharger-et-candidature .btn-candidature-en-ligne:hover {
  background: #ff1b55;
}

header .telecharger-et-candidature .btn-candidature-en-ligne .icon-candidature-en-ligne {
  top: 2px;
  margin-right: 12px;
}

header nav {
  float: right;
  margin: 0;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
}

header nav ul li {
  display: inline-block;
  float: left;
}

header nav ul li a {
  color: #242f6d;
  font-size: 22px;
  font-family: 'BebasNeue';
  padding: 7px 10px 7px 10px;
}

header nav ul li a:hover {
  text-decoration: none;
  background: #cccccc;
  color: #242f6d;
}

header nav ul .btn-entreprise {
  margin-left: 10px;
  color: #242f6d;
  background: #ffb129;
  padding: 5px 10px 3px 10px;
  min-height: 42px;
  min-width: 141px;
  border: 0;
  outline: 0;
  font-size: 22px;
}

header nav ul .btn-entreprise:hover {
  color: #242f6d;
  background: #ffa200;
}

header nav ul .btn-entreprise span {
  float: right;
  text-align: left;
  padding-top: 10px;
}

header nav ul .btn-entreprise .icon-entreprise {
  width: 23px;
  height: 15px;
  background: no-repeat url("../images/icon-entreprise.png");
  display: inline-block;
  position: relative;
  top: 9px;
  margin-right: 12px;
  float: left;
}

header nav .nav-1 {
  background: #e9eaef;
  padding: 6px 0 3px 0;
}

header nav .nav-1 li a:hover {
  text-decoration: none;
  background: #cccccc;
  color: #242f6d;
  padding: 9px 10px 6px 10px;
}

header .navbar-light .navbar-toggler-icon {
  background-image: url("../images/menu.svg");
  font-size: 24px;
}

header .navbar-light .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
  outline: none;
}

footer {
  background: #212123;
  padding: 50px 0;
}

footer .footer-map {
  width: 180px;
  height: 147px;
  background: no-repeat url("../images/background-map.jpg");
  background-size: cover;
  background-position: center;
}

footer .footer-map .adresse {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  padding-top: 89px;
}

footer .footer-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer .footer-menu li {
  display: block;
  margin-bottom: 20px;
}

footer .footer-menu li a {
  color: #fff;
  font-family: "BebasNeue";
  font-size: 24px;
  line-height: 24px;
}

footer .footer-menu li a:hover {
  text-decoration: none;
  color: #ff2e63;
}

footer .footer-menu-foot {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer .footer-menu-foot .separator::after {
  margin: 0 9px;
  content: "|";
  color: #fff;
}

footer .footer-menu-foot li {
  display: inline-block;
}

footer .footer-menu-foot li a {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 14px;
}

footer .footer-menu-foot li a:hover {
  text-decoration: none;
  color: #ff2e63;
}

.icon-social-footer a {
  width: 28px;
  height: 28px;
  display: inline-block;
  float: left;
  margin: 0px 3px;
}

.icon-social-footer a .icon-instagram,
.icon-social-footer a .icon-facebook,
.icon-social-footer a .icon-twitter {
  width: 28px;
  height: 28px;
  background: #fff;
  color: #212123;
  display: inline-block;
  border-radius: 90px;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
}

.icon-social-footer a .icon-instagram .fa-instagram,
.icon-social-footer a .icon-facebook .fa-instagram,
.icon-social-footer a .icon-twitter .fa-instagram {
  font-size: 18px;
  top: 3px;
  left: 6px;
  position: relative;
}

.icon-social-footer a .icon-instagram .fa-facebook-f,
.icon-social-footer a .icon-facebook .fa-facebook-f,
.icon-social-footer a .icon-twitter .fa-facebook-f {
  font-size: 16px;
  top: 3px;
  left: 8px;
  position: relative;
}

.icon-social-footer a .icon-instagram .fa-twitter,
.icon-social-footer a .icon-facebook .fa-twitter,
.icon-social-footer a .icon-twitter .fa-twitter {
  font-size: 18px;
  top: 4px;
  left: 6px;
  position: relative;
}

.icon-social-footer a:hover .icon-instagram {
  background: #2c6a93;
}

.icon-social-footer a:hover .icon-facebook {
  background: #3b5998;
}

.icon-social-footer a:hover .icon-twitter {
  background: #04669a;
}

/* END HOMEPAGE ------------------*/
.col-2_4,
.col-sm-2_4,
.col-md-2_4,
.col-lg-2_4,
.col-xl-2_4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-2_4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}

@media (min-width: 540px) {
  .col-sm-2_4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  .col-md-2_6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 720px) {
  .col-md-2_4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  .col-md-2_6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 993px) {
  .col-lg-2_4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}

@media (min-width: 1140px) {
  .col-xl-2_4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}

.btn {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 16px;
  font-family: "BebasNeue";
  border-radius: 0;
  border: 0;
}

.btn-telecharger-borchure-une-ligne {
  color: #fff;
  background: #242f6d;
  color: #fff;
}

.btn-telecharger-borchure-une-ligne span {
  margin-top: 6px;
  float: right;
}

.btn-telecharger-borchure-une-ligne:hover {
  color: #fff;
  background: #293788;
}

.btn-candidature {
  margin-top: 10px;
}

.btn-candidature-en-ligne-une-ligne {
  color: #fff;
  background: #ff2e63;
}

.btn-candidature-en-ligne-une-ligne span {
  margin-top: 6px;
  float: right;
}

.btn-candidature-en-ligne-une-ligne:hover {
  color: #fff;
  background: #ff1b55;
}

.btn-en-savoir-plus,
.btn-deposer-sa-candidature {
  background: transparent;
  color: #242f6d;
  font-size: 17px;
  border: 1px solid #242f6d;
  font-family: "BebasNeue";
  position: absolute;
  bottom: 30px;
}

.btn-en-savoir-plus:hover,
.btn-deposer-sa-candidature:hover {
  color: #242f6d;
  background: #fff;
  border: 1px solid #fff;
}

.btn-en-savoir-plus span,
.btn-deposer-sa-candidature span {
  float: right;
  display: inline-block;
  padding-top: 2px;
}

.btn-inscrire-go {
  color: #fff;
  border: 1px solid #fff;
  font-family: "BebasNeue";
  position: absolute;
  bottom: 50px;
}

.btn-inscrire-go:hover {
  color: #fff;
  background: #ff1b55;
}

.btn-inscrire-go span {
  float: right;
  display: inline-block;
  padding-top: 5px;
}

.btn-deposer-sa-candidature {
  position: relative;
  top: 0;
  bottom: 0;
  margin-top: 10px;
  padding: 10px 15px;
}

.btn-deposer-sa-candidature:hover {
  color: #fff;
  background: #242f6d;
}

.btn-deposer-sa-candidature:hover .icon-deposer-sa-candidature-blue {
  background: no-repeat url("../images/icon-deposer-sa-candidature-white.png");
}

.btn-savoir-plus-white {
  color: #fff;
  border: 1px solid #fff;
}

.btn-savoir-plus-white:hover .icon-esp-white {
  background: no-repeat url("../images/icon-en-savoir-plus-blue.png");
}

.btn-toutes-nos-offres,
.btn-inscrire-session,
.btn-en-savoir-plus-pink {
  margin: 0 auto 30px auto;
  text-align: center;
  display: inline-block;
  background: #ff2e63;
  color: #fff;
}

.btn-toutes-nos-offres:hover,
.btn-inscrire-session:hover,
.btn-en-savoir-plus-pink:hover {
  color: #fff;
  background: #ff1b55;
}

.btn-toutes-nos-offres span,
.btn-inscrire-session span,
.btn-en-savoir-plus-pink span {
  float: right;
  display: inline-block;
  padding-top: 4px;
}

.btn-en-savoir-plus-pink span {
  padding-top: 6px;
}

.btn-je-depose-mon-annonce {
  margin: 0 auto 30px auto;
  text-align: center;
  display: inline-block;
  background: #ffb129;
  color: #242f6d;
  height: 38px;
}

.btn-je-depose-mon-annonce:hover {
  color: #242f6d;
  background: #ffa200;
}

.btn-je-depose-mon-annonce span {
  float: right;
  display: inline-block;
  padding-top: 6px;
}

/* icon ---> */
.icon-deposer-sa-candidature-blue {
  width: 18px;
  height: 18px;
  background: no-repeat url("../images/icon-deposer-sa-candidature-blue.png");
  display: inline-block;
  position: relative;
  top: 0;
  margin-right: 12px;
  float: left;
}

.icon-en-savoir-plus-blue {
  width: 18px;
  height: 20px;
  background: no-repeat url("../images/icon-en-savoir-plus-blue.png");
  display: inline-block;
  position: relative;
  top: 0;
  margin-right: 12px;
  float: left;
}

.icon-esp-white {
  background: no-repeat url("../images/icon-en-savoir-plus-white.png");
}

.icon-telecharger-brochure {
  width: 27px;
  height: 27px;
  background: no-repeat url("../images/icon-telecharger-brochure.png");
  display: inline-block;
  position: relative;
  top: 0;
  margin-right: 12px;
  float: left;
}

.icon-candidature-en-ligne {
  width: 25px;
  height: 25px;
  background: no-repeat url("../images/icon-candidature-en-ligne.png");
  display: inline-block;
  position: relative;
  top: 0px;
  margin-right: 12px;
  float: left;
}

.icon-toutes-nos-offres-emploi {
  width: 21px;
  height: 22px;
  background: no-repeat url("../images/icon-toutes-nos-offres-emploi.png");
  display: inline-block;
  position: relative;
  top: 0px;
  margin-right: 12px;
  float: left;
}

.icon-calendar {
  width: 29px;
  height: 30px;
  background: no-repeat url("../images/icon-calendar.png");
  display: inline-block;
  position: relative;
  top: 0px;
  margin-right: 12px;
  float: left;
}

.icon-calendar {
  width: 20px;
  height: 22px;
  background: no-repeat url("../images/icon-inscrire-session.png");
  display: inline-block;
  position: relative;
  top: 0px;
  margin-right: 12px;
  float: left;
}

.icon-go {
  width: 26px;
  height: 26px;
  background: no-repeat url("../images/icon-go-white.png");
  display: inline-block;
  position: relative;
  top: 0px;
  margin-right: 12px;
  float: left;
}

.icon-savoir-plus-white {
  width: 26px;
  height: 26px;
  background: no-repeat url("../images/icon-savoir-plus-white.png");
  display: inline-block;
  position: relative;
  top: 0px;
  margin-right: 12px;
  float: left;
}

.icon-deposer-une-annonce {
  width: 23px;
  height: 23px;
  background: no-repeat url("../images/icon-deposer-une-annonce.png");
  display: inline-block;
  position: relative;
  top: 2px;
  margin-right: 12px;
  float: left;
}

/* END BOUTONS & ICONS ------------------*/
/* hn,p ect  ------------- -------------*/
#home {
  /* START BOUTONS & ICONS ------------------*/
  /* btn ---> */
  /* ------------- -------------  -------------*/
  /* START HOMEPAGE ------------------*/
  /* SECTION ECOLE EN LIGNE ECOLE EN ALTERNANCE */
  /* SECTION NOS FORMATIONS */
  /* SECTION NOS THEMATIQUES */
  /* SECTION OFFRES D'EMPLOI EN ALTERNANCE */
  /* SECTION ILS RECRUTENT EN ALTERNANCE */
  /* SECTION DECOUVREZ VISISCHOOL */
  /* SECTION POURQUOI PASSER SON DIPLOME & VISI SCHOOL PREMIERE */
  /* SECTION TEMOIGNAGES */
  /* SECTION VOUS ETES UNE ENTREPRISE ? */
}

#home h1,
#home h2,
#home h3 {
  color: #242f6d;
}

#home h1 {
  font-size: 60px;
  line-height: 55px;
  font-family: "BebasNeue";
}

#home h1.white {
  color: white;
}

#home h2 {
  font-size: 55px;
  line-height: 55px;
  font-family: "BebasNeue";
  text-align: center;
}

#home h3 {
  font-size: 45px;
  line-height: 45px;
  font-family: "BebasNeue";
  text-align: center;
}

#home #home h1 {
  padding-top: 111px;
}

#home .section-ecole-en-ligne-en-alternance {
  background: no-repeat url("../images/section-ecole-en-ligne-en-alternance.jpg");
  display: block;
  min-height: 784px;
  background-size: cover;
  max-width: 100%;
  background-position: center;
  margin: auto;
}

#home .section-ecole-en-ligne-en-alternance p {
  padding-top: 10px;
  color: #242f6d;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

#home .section-nos-formations {
  background: no-repeat url("../images/background-nos-formations.jpg");
  display: block;
  min-height: 465px;
  background-size: cover;
  max-width: 100%;
  background-position: center;
  margin: auto;
}

#home .section-nos-formations h2 {
  margin: 0 0 35px 0;
}

#home .section-nos-formations h3 {
  text-align: left;
  margin-top: 100px;
}

#home .section-nos-formations p {
  padding-top: 10px;
  color: #242f6d;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

#home .section-nos-formations .bloc-white {
  position: absolute;
  background: #fff;
  top: 0;
  color: #242f6d;
  line-height: 45px;
  font-family: "BebasNeue";
  padding: 20px 18px 5px 18px;
}

#home .section-nos-formations .bloc-white .level {
  font-size: 25px;
  line-height: 100%;
}

#home .section-nos-formations .bloc-white span {
  font-size: 35px;
  line-height: 100%;
}

#home .section-nos-formations .formation-bloc-titre-certifie {
  background: no-repeat url("../images/background-formation-certifie.jpg");
  display: block;
  background-size: cover;
  min-height: 390px;
  padding: 40px;
}

#home .section-nos-formations .formation-bloc-titre-bachelor {
  background: no-repeat url("../images/background-formation-bachelor.jpg");
  display: block;
  background-size: cover;
  min-height: 390px;
  margin: 0 5px;
  padding: 40px;
}

#home .section-nos-formations .formation-bloc-titre-mba-master {
  background: no-repeat url("../images/background-formation-mba-master.jpg");
  display: block;
  background-size: cover;
  min-height: 390px;
  padding: 40px;
}

#home .section-nos-formations .formation-bloc-titre-mba-master h3,
#home .section-nos-formations .formation-bloc-titre-mba-master p {
  color: #fff;
}

#home .section-nos-thematiques {
  background: no-repeat url("../images/background-thematique.jpg");
  display: block;
  min-height: 522px;
  background-size: cover;
  max-width: 100%;
  background-position: center;
  margin: auto;
}

#home .section-nos-thematiques h2 {
  padding: 47px 0 30px 0;
}

#home .section-nos-thematiques img {
  margin: 30px auto auto auto;
  display: block;
}

#home .section-nos-thematiques .texte {
  color: #242f6d;
  font-size: 26px;
  line-height: 26px;
  font-family: "BebasNeue";
  text-align: center;
  position: relative;
  top: -15px;
  left: -5px;
}

#home .section-nos-thematiques .border-right {
  border-right: 1px solid #000000 !important;
  min-height: 215px;
}

#home .section-offres-emploi-alternance {
  background-color: #ecedf1;
  background: no-repeat url("../images/background-offres-emploi-en-alternance.jpg");
  display: block;
  min-height: 754px;
  background-size: cover;
  max-width: 100%;
  background-position: center;
  margin: auto;
}

#home .section-offres-emploi-alternance p {
  text-align: center;
  color: #242f6d;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

#home .section-offres-emploi-alternance .offre-emploi {
  background: #fff;
  padding: 30px 42px 30px 42px;
  min-height: 230px;
  margin-bottom: 25px;
}

#home .section-offres-emploi-alternance .offre-emploi p {
  text-align: left;
  padding-top: 25px;
  font-weight: bold;
  font-size: 17px;
}

#home .section-offres-emploi-alternance .offre-emploi .tag-offre {
  background: #242f6d;
  color: #fff;
  position: absolute;
  top: 0;
  padding: 9px 11px;
}

#home .section-offres-emploi-alternance .offre-emploi .ville-et-btn {
  position: absolute;
  bottom: 40px;
}

#home .section-offres-emploi-alternance .offre-emploi .ville-et-btn .ville {
  font-size: 14px;
  color: #999999;
}

#home .section-ils-recrutent-alternance {
  background-color: #ecedf1;
}

#home .section-ils-recrutent-alternance img {
  margin-top: 20px;
}

#home .section-decouvrez-visischool {
  background-color: #ecedf1;
  background: no-repeat url("../images/background-decouvrez-visischool.jpg");
  display: block;
  min-height: 593px;
  background-size: cover;
  max-width: 100%;
  background-position: center;
  margin: auto;
}

#home .section-decouvrez-visischool .separator-white {
  display: none;
}

#home .section-decouvrez-visischool .bloc-decouvrez-visischool {
  margin-top: 85px;
  background: no-repeat url("../images/bloc-decouvrez-visischool.jpg");
  min-height: 452px;
  background-size: cover;
  max-width: 100%;
  background-position: center;
  padding: 45px 80px 45px 45px;
}

#home .section-decouvrez-visischool .bloc-decouvrez-visischool h3,
#home .section-decouvrez-visischool .bloc-decouvrez-visischool p {
  text-align: left;
  color: #fff;
}

#home .section-decouvrez-visischool .bloc-decouvrez-visischool p {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

#home .section-decouvrez-visischool .bloc-decouvrez-visischool .p-decouvrez {
  padding: 20px 0 30px 0;
}

#home .section-decouvrez-visischool .bloc-decouvrez-visischool .bloc-date-decouvrez {
  min-height: 353px;
  border: 1px solid #fff;
}

#home .section-decouvrez-visischool .bloc-decouvrez-visischool .bloc-date-decouvrez .row {
  min-height: 353px;
}

#home .section-decouvrez-visischool .bloc-decouvrez-visischool .bloc-date-decouvrez .row .border-right-perso {
  border-right: 1px solid #fff !important;
}

#home .section-decouvrez-visischool .bloc-decouvrez-visischool .bloc-date-decouvrez .row .bloc-calendar {
  padding: 40px 50px;
}

#home .section-decouvrez-visischool .bloc-decouvrez-visischool .bloc-date-decouvrez .row .bloc-calendar .calendar {
  width: 100%;
  display: inline-block;
}

#home .section-decouvrez-visischool .bloc-decouvrez-visischool .bloc-date-decouvrez .row .bloc-calendar h4 {
  color: #fff;
  font-family: "BebasNeue";
  font-size: 26px;
  line-height: 26px;
  margin: 10px 0 0 0;
  padding: 0;
}

#home .section-decouvrez-visischool .bloc-decouvrez-visischool .bloc-date-decouvrez .row .bloc-calendar .heure {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

#home .section-pourquoi-passer-diplome {
  margin-top: 50px;
  margin-bottom: 40px;
}

#home .section-visi-school-premiere {
  margin-bottom: 40px;
}

#home .section-pourquoi-passer-diplome .img-pourquoi-diplome,
#home .section-visi-school-premiere .img-pourquoi-diplome {
  position: relative;
  left: -150px;
}

#home .section-pourquoi-passer-diplome .img-visi-premiere,
#home .section-visi-school-premiere .img-visi-premiere {
  position: relative;
  right: -150px;
}

#home .section-pourquoi-passer-diplome h3,
#home .section-visi-school-premiere h3 {
  text-align: left;
  padding-top: 110px;
}

#home .section-pourquoi-passer-diplome p,
#home .section-visi-school-premiere p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #242f6d;
  padding: 30px 0;
}

#home .separator-temoignages {
  background: no-repeat url("../images/barre-header-temoignage.jpg");
  display: block;
  min-height: 88px;
  background-size: cover;
  max-width: 100%;
  background-position: center;
  margin: auto;
}

#home .section-temoignages {
  background: #ff2e63;
}

#home .section-temoignages h2 {
  color: #fff;
  margin: 0 0 60px 0;
}

#home .section-temoignages p {
  color: #fff;
  font-family: "BebasNeue";
  font-size: 24px;
  line-height: 24px;
  padding: 0 0 0 10px;
  margin: 0 0 5px 0;
}

#home .section-temoignages .prenom-nom {
  font-family: "BebasNeueRegular";
  color: #fff;
  padding: 0 0 0 10px;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
}

#home .section-temoignages .background-photo-temoignage {
  background: no-repeat url("../images/background-photo-temoignage.jpg");
  min-height: 187px;
  background-size: cover;
  width: 189px;
  background-position: center;
}

#home .section-vous-etes-une-entreprise {
  background: no-repeat url("../images/background-vous-etes-une-entreprise.jpg");
  display: block;
  min-height: 631px;
  background-size: cover;
  max-width: 100%;
  background-position: center;
  margin: auto;
}

#home .section-vous-etes-une-entreprise .btn-1,
#home .section-vous-etes-une-entreprise .btn-2 {
  float: left;
  display: inline-block;
}

#home .section-vous-etes-une-entreprise .btn-2 {
  margin-left: 10px;
}

#home .section-vous-etes-une-entreprise h2 {
  text-align: left;
  color: #fff;
  margin: 187px 0 20px 0;
}

#home .section-vous-etes-une-entreprise h4 {
  margin: 187px 0 5px 0;
  font-family: "BebasNeue";
  font-size: 30px;
  line-height: 30px;
  color: #fff;
}

#home .section-vous-etes-une-entreprise p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

#home .section-vous-etes-une-entreprise .bloc-contact {
  background: #d2d4df;
  margin-bottom: 10px;
}

#home .section-vous-etes-une-entreprise .bloc-contact h5 {
  margin: 5px 0 0 0;
}

#home .section-vous-etes-une-entreprise .bloc-contact .conseiller-tel {
  margin: 0 0 5px 0;
  padding: 0;
}

#home .section-vous-etes-une-entreprise .bloc-contact h5,
#home .section-vous-etes-une-entreprise .bloc-contact .conseiller-tel {
  color: #242f6d;
  font-family: "BebasNeue";
  font-size: 25px;
  line-height: 25px;
}

#home .section-vous-etes-une-entreprise .bloc-contact p {
  font-size: 18px;
  color: #242f6d;
  font-family: "BebasNeueRegular";
  line-height: 18px;
  padding: 0;
  margin: 0 10px 0 0;
}

#home .section-vous-etes-une-entreprise .bloc-contact .conseiller-img {
  margin: 15px;
}

#home .section-vous-etes-une-entreprise .bloc-contact .conseiller-tel a {
  color: #242f6d;
}

#home .section-vous-etes-une-entreprise .bloc-contact .conseiller-tel a:hover {
  color: #242f6d;
  text-decoration: none;
}

#home .section-vous-etes-une-entreprise .bloc-contact img {
  border-radius: 90px;
}

.products__header {
  margin-top: 10px;
  padding-top: 40px;
  height: 195px;
  background: no-repeat url("/assets/imgs/produits/bandeau-produits.png");
  background-size: cover;
  background-position: center;
}

.products__header .heading--one {
  margin: 30px 0 0;
}

.products__filtres {
  background-color: #ecedf1;
  color: #242f6d;
  height: 60px;
}

.products__filtres__titre {
  font-size: 22px;
  font-family: "BebasNeue";
  margin: 0 10px 0 0;
  position: relative;
  top: 2px;
}

.products__filtres__dropdown {
  height: 23px;
  width: 160px;
  border: 1px solid #242f6d;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 5px 0 20px;
  background-color: white;
}

.products__filtres__dropdown__text {
  font-family: "Bebas-Neue-Book";
  font-size: 20px;
  position: relative;
  top: 2px;
}

.products__filtres__dropdown__icon {
  height: 11px;
}

.products__filtres__separator {
  width: 1px;
  height: 35px;
  background-color: #242f6d;
  margin: 0 40px;
}

.products .products-container {
  padding-top: 30px;
}

.products__wave {
  background: no-repeat url("/assets/imgs/produits/waves.png");
  background-size: cover;
  width: 100%;
  height: 100px;
  margin-top: 40px;
}

.products__points {
  background-color: #202b6d;
  padding-bottom: 70px;
}

.products__point-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products__point {
  text-align: center;
  line-height: 18px;
}

.products__point:not(:last-child) {
  border-right: 1px solid white;
  margin-right: 40px;
  padding-right: 40px;
}

.products__point__icon-container {
  width: 80px;
  margin: auto;
  height: 90px;
}

.products__point__icon {
  max-width: 100%;
}

.products__point__text {
  font-size: 32px;
  font-family: "BebasNeue";
  color: white;
  margin-bottom: 0;
}

.products__point__text-small {
  color: white;
  font-size: 14px;
  font-family: "roboto";
}

.products__categories-hint {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #242f6d;
  margin-bottom: 30px;
  padding: 25px 50px;
}

.products__categories-hint__title-container {
  background: no-repeat url("/assets/imgs/produits/multichannel.png");
  background-position: center;
  background-size: contain;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 322px;
          flex: 0 0 322px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products__categories-hint__title {
  margin: auto 0;
}

.products__categories-hint__text {
  margin-left: 40px;
  padding: 20px 0 20px 40px;
  color: white;
  font-family: "roboto";
  border-left: 1px solid white;
}

.products__hint {
  background-size: cover;
  background-position: right top;
  padding: 0 40px 40px;
  height: calc(100% - 30px);
}

.products__hint--bachelor {
  background-image: url("/assets/imgs/produits/bachelor.png");
  background-color: #ffb129;
}

.products__hint--certified {
  background-image: url("/assets/imgs/produits/titre-certifie.png");
  background-color: #01cc88;
}

.products__hint--mastere {
  background-image: url("/assets/imgs/produits/mastere.png");
  background-color: #ff2e63;
}

.products__hint__level {
  padding: 15px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: white;
  margin-bottom: 10px;
}

.products__hint__level > * {
  line-height: 30px;
}

.products__hint__headingTwo {
  font-size: 42px;
}

.products__hint__text {
  max-width: 300px;
  margin-bottom: 20px;
}

.product__header {
  margin-top: 10px;
  padding-top: 40px;
  min-height: 195px;
  background: no-repeat url("/assets/imgs/produit/bandeau.png");
  background-size: cover;
  background-position: center;
}

.product__header .heading--one {
  margin: 30px 0 0;
}

.product__header__photo {
  border: 3px solid #242f6d;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
  margin-right: 20px;
}

.product__header__category {
  font-size: 25px;
}

.product__header__job {
  color: white;
  font-size: 45px;
}

.product__btn-block {
  background-color: #242f6d;
  padding: 20px;
}

.product__separator {
  border-color: #e9eaef;
  border-width: 4px;
  margin: 30px 0;
}

.product__goals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  margin-bottom: 10px;
}

.product__goals:before {
  content: url("/assets/icons/chevron.png");
  margin-right: 10px;
}

.product__numbers {
  margin-top: 20px;
  background-color: #e9eaef;
  padding: 20px;
}

.product__numbers__icon-wrapper {
  width: 40px;
}

.product__numbers__icon {
  max-width: 30px;
  max-height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}

.product__numbers__text {
  font-family: "BebasNeue";
  font-size: 23px;
  line-height: 23px;
}

.product__numbers__small {
  font-size: 14px;
}

.product__why {
  margin-top: 20px;
  background-color: #e9eaef;
  padding: 20px;
}

.product-card {
  background-color: #ecedf1;
  margin-bottom: 30px;
}

.product-card__degree {
  font-family: "BebasNeue";
  font-size: 20px;
}

.product-card__title {
  font-size: 32px;
  line-height: 30px;
  margin-bottom: 10px;
}

.product-card__profile {
  margin: 0 auto;
  border: 3px solid #01cc88;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
  margin-bottom: 10px;
}

.product-card__description {
  color: #242f6d;
  font-size: 14px;
  font-family: "roboto", sans-serif;
  margin-bottom: 1em;
}

.product-card__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 200px;
          flex: 1 0 200px;
  border-left: 1px solid #242f6d;
}

.product-card__info__title {
  font-size: 16px;
  margin-bottom: 0;
  line-height: 10px;
}

.product-card__info__text {
  color: #242f6d;
  font-size: 12px;
  font-family: "roboto", sans-serif;
  margin-bottom: 10px;
}

.product-card.green .product-card__degree {
  color: #01cc88;
}

.product-card.green .product-card__profile {
  border-color: #01cc88;
}

.product-card.green .button {
  background-color: #01cc88;
}

.product-card.green .button:hover {
  background-color: white;
}

.product-card.pink .product-card__degree {
  color: #ff2e63;
}

.product-card.pink .product-card__profile {
  border-color: #ff2e63;
}

.product-card.pink .button {
  background-color: #ff2e63;
}

.product-card.pink .button:hover {
  background-color: white;
}

.product-card.yellow .product-card__degree {
  color: #ffb129;
}

.product-card.yellow .product-card__profile {
  border-color: #ffb129;
}

.product-card.yellow .button {
  background-color: #ffb129;
}

.product-card.yellow .button:hover {
  background-color: white;
}

.about__header {
  margin-top: 10px;
  padding: 40px 0;
  min-height: 500px;
  background: no-repeat url("/assets/imgs/about/header-about.png");
  background-size: cover;
  background-position: center;
  text-align: center;
  margin-bottom: -120px;
}

.about__header .heading--one {
  margin: 30px 0 15px;
}

.about__header__text {
  color: white;
  margin-bottom: 10px;
  padding: 0 100px;
}

.about__hint {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.about__hint > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.about__hint__text {
  padding: 60px 40px;
  background-color: #ff2e63;
}

.about__hint__text__small {
  font-size: 12px;
  color: white;
}

.about__hint__img {
  background-image: url("/assets/imgs/about/hint.png");
  background-size: cover;
  background-position: top center;
}

.about__section {
  margin-bottom: 80px;
}

.about__section > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.about__alternance {
  background-image: url("/assets/imgs/about/alternance-bg.png");
  background-position: center;
  background-size: cover;
  padding: 40px 0 60px;
  margin-bottom: 30px;
  position: relative;
  top: -30px;
}

.about__alternance__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__alternance__container > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.job__header {
  margin-top: 10px;
  padding-top: 40px;
  background: no-repeat url("/assets/imgs/job/job-header.png");
  background-size: cover;
  background-position: center;
  height: 250px;
  margin-bottom: -210px;
}

.job__header .heading--one {
  margin: 30px 0 15px;
}

.job__header__info {
  margin-bottom: 5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
}

.job__header__info__img {
  margin-right: 10px;
}

.job__header__content {
  margin-bottom: 40px;
}

.job__about {
  background-color: #e9eaef;
  padding: 30px;
}

.job__about__btn {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 29px;
  margin-top: 20px;
  height: auto;
}

.job__about__btn__text {
  position: relative;
  top: 2px;
}

.job__about__separator {
  border-color: #242f6d;
  margin: 30px -30px;
}

.job__content {
  color: #242f6d;
}

.job__content p {
  margin-bottom: 20px;
}

.job__content__point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.job__content__point:before {
  content: url("/assets/icons/arrow-green.png");
  margin-right: 15px;
}

.job__content__separator {
  border-color: #e9eaef;
  border-width: 4px;
  margin: 60px 0 30px;
}

.alternance__header {
  margin-top: 10px;
  padding: 40px 0;
  min-height: 260px;
  background: no-repeat url("/assets/imgs/alternance/header-alternance.png");
  background-size: cover;
  background-position: center;
  text-align: center;
}

.alternance__header .heading--one {
  margin: 20px 0 15px;
}

.alternance__header__text {
  color: white;
  margin-bottom: 10px;
}

.alternance__why {
  margin: 50px 0 40px;
}

.alternance__why > * {
  color: #242f6d;
  margin-bottom: 20px;
}

.alternance__contracts {
  margin: 40px 0 0;
  padding: 20px 0 50px;
  background-image: url("/assets/imgs/alternance/contracts-bg.png");
  background-size: cover;
}

.alternance__contracts__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.alternance__contracts__table__header {
  background-color: #242f6d;
  color: white;
  font-family: "BebasNeueRegular";
  font-size: 27px;
  line-height: 45px;
  padding: 5px 25px 0;
  border: solid 1px #242f6d;
}

.alternance__contracts__table__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.alternance__contracts__table__col > *:not(.alternance__contracts__table__header) {
  font-family: "Roboto", sans-serif;
  color: #242f6d;
  padding: 25px;
  line-height: 22px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.alternance__contracts__table__col:first-child > *:not(.alternance__contracts__table__header) {
  border: solid 1px #b1b1b1;
  border-top: none;
}

.alternance__contracts__table__col:last-child > *:not(.alternance__contracts__table__header) {
  border: solid 1px #b1b1b1;
  border-top: none;
}

@media (min-width: 1200px) and (max-width: 1620px) {
  .section-pourquoi-passer-diplome .img-visi-premiere,
  .section-pourquoi-passer-diplome .img-pourquoi-diplome,
  .section-visi-school-premiere .img-visi-premiere,
  .section-visi-school-premiere .img-pourquoi-diplome {
    position: relative;
    right: 0;
    left: 0;
    width: 100%;
  }
}

@media (max-width: 992px) {
  header #navbarTogglergo {
    background: #fff;
    z-index: 100;
    width: 222px;
    position: absolute;
    right: 31px;
    top: 50px;
    border: 1px solid #ffe1ea;
  }
  header .navbar-light .navbar-nav .nav-link {
    padding: 3px 0 0 10px;
    margin: 5px 20px 0 15px;
    color: #242f6d;
    font-size: 22px;
  }
  .section-nos-thematiques .thematique-bloc {
    margin: auto;
    display: block;
    text-align: center;
    max-width: 300px;
  }
  .section-nos-thematiques .thematique-bloc .texte {
    text-align: center;
    position: absolute;
    top: 55px;
    left: 0;
    right: 0;
    max-width: 200px;
    margin: auto;
  }
  .section-nos-thematiques .border-right {
    border-right: 0 !important;
    min-height: auto;
  }
  .section-nos-thematiques img {
    margin: 0;
    display: block;
  }
  .section-decouvrez-visischool {
    background: no-repeat url("../images/background-decouvrez-visischool-mob.jpg");
    min-height: 938px;
    background-size: cover;
  }
  .section-decouvrez-visischool .separator-white {
    display: block;
  }
  .section-decouvrez-visischool .bloc-decouvrez-visischool {
    padding: 30px 20px;
  }
  .section-decouvrez-visischool .bloc-decouvrez-visischool .bloc-date-decouvrez .btn-inscrire-go {
    position: unset;
  }
  .section-decouvrez-visischool .bloc-decouvrez-visischool .bloc-date-decouvrez .row .border-right-perso {
    border-right: 0 !important;
  }
  .border-bottom-perso {
    border-bottom: 1px solid #fff;
  }
  .separator-temoignages {
    background: no-repeat url("../images/barre-header-temoignage-mob.jpg");
    min-height: 63px;
    width: 100%;
    background-size: cover;
    background-position: center;
  }
  .section-nos-thematiques {
    background: no-repeat url("../images/background-thematique-mob.jpg");
    min-height: 810px;
    background-size: cover;
  }
  .section-pourquoi-passer-diplome h3,
  .section-visi-school-premiere h3 {
    padding: 0;
  }
  .section-pourquoi-passer-diplome .img-pourquoi-diplome,
  .section-pourquoi-passer-diplome .img-visi-premiere,
  .section-visi-school-premiere .img-pourquoi-diplome,
  .section-visi-school-premiere .img-visi-premiere {
    position: relative;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 100%;
  }
  footer .liste-menu-footer {
    margin-top: 80px;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 40px;
    line-height: 40px;
  }
  h2 {
    font-size: 37px;
  }
  #home h1 {
    padding-top: 32px;
  }
  header .navbar {
    padding: 0;
  }
  .section-ecole-en-ligne-en-alternance {
    background-position: 44% 100%;
  }
  .section-ecole-en-ligne-en-alternance p {
    padding-top: 0;
    color: #242f6d;
    font-size: 16px;
    line-height: 19px;
  }
  .section-ecole-en-ligne-en-alternance .btn-telecharger-notre-brochure,
  .section-ecole-en-ligne-en-alternance .btn-candidature {
    width: 160px;
  }
  .section-ecole-en-ligne-en-alternance .btn-telecharger-notre-brochure span,
  .section-ecole-en-ligne-en-alternance .btn-candidature span {
    text-align: left;
    width: 110px;
    float: left;
  }
  .section-ecole-en-ligne-en-alternance .btn-telecharger-notre-brochure .btn-telecharger-borchure-une-ligne,
  .section-ecole-en-ligne-en-alternance .btn-telecharger-notre-brochure .btn-candidature-en-ligne-une-ligne,
  .section-ecole-en-ligne-en-alternance .btn-candidature .btn-telecharger-borchure-une-ligne,
  .section-ecole-en-ligne-en-alternance .btn-candidature .btn-candidature-en-ligne-une-ligne {
    width: 160px;
    padding: 2px 2px 5px 2px;
  }
  .section-ecole-en-ligne-en-alternance .icon-telecharger-brochure {
    top: 6px;
    left: 4px;
  }
  .section-ecole-en-ligne-en-alternance .icon-candidature-en-ligne {
    top: 6px;
    left: 5px;
  }
  .section-ecole-en-ligne-en-alternance .btn-candidature span {
    width: 100px;
  }
  .section-vous-etes-une-entreprise {
    background: no-repeat url("../images/background-vous-etes-une-entreprise-mob.jpg");
    display: block;
    min-height: 1016px;
    background-size: cover;
  }
  .section-vous-etes-une-entreprise .btn-en-savoir-plus-pink {
    margin: 0 auto 10px auto;
  }
  .section-vous-etes-une-entreprise h2 {
    text-align: center;
    margin: 55px 0 20px 0;
  }
  .section-vous-etes-une-entreprise h4 {
    margin: 0 0 5px 0;
  }
  .section-vous-etes-une-entreprise .btn-1,
  .section-vous-etes-une-entreprise .btn-2 {
    margin-left: 0;
    width: 100%;
  }
  .section-vous-etes-une-entreprise .bloc-contact h5 {
    margin: 10px 0 0 0;
  }
  .section-vous-etes-une-entreprise .bloc-contact .conseiller-img {
    margin: 10px;
  }
  .section-nos-formations {
    background: no-repeat url("../images/background-nos-formations-mob.jpg");
    min-height: 973px;
    background-size: cover;
  }
  .section-nos-formations .p-0 {
    padding-right: 15px !important;
    padding-left: 15px !important;
    padding-bottom: 10px !important;
  }
  .section-nos-formations .formation-bloc-titre-certifie {
    padding-right: 15px;
    padding-left: 15px;
  }
  .section-nos-formations .formation-bloc-titre-bachelor {
    margin: 0;
  }
}

@media (max-width: 330px) {
  .section-ecole-en-ligne-en-alternance {
    background-position: left;
  }
}

@media (min-width: 1200px) {
  .products__point {
    line-height: 30px;
  }
  .job__content__point {
    padding-right: 200px;
  }
  .heading.heading--one.small {
    font-size: 45px;
  }
  .job__header__info {
    margin-right: 40px;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    margin-bottom: 0;
  }
  .heading--one {
    line-height: 55px;
  }
  .job__header {
    height: 230px;
    margin-bottom: -195px;
  }
  .job__header__content {
    margin-bottom: 70px;
  }
  .alternance__contracts__table__col:last-child > *:not(.alternance__contracts__table__header) {
    border: solid 1px #b1b1b1;
    border-top: none;
    border-left: none;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .section-pourquoi-passer-diplome .img-visi-premiere,
  .section-pourquoi-passer-diplome .img-pourquoi-diplome,
  .section-visi-school-premiere .img-visi-premiere,
  .section-visi-school-premiere .img-pourquoi-diplome {
    position: relative;
    right: 0;
    left: 0;
    width: 100%;
  }
  .section-offres-emploi-alternance .offre-emploi {
    min-height: 270px;
  }
  footer .liste-menu-footer {
    margin-top: 80px;
  }
  footer .footer-menu-foot {
    margin-top: 20px;
  }
  footer .footer-menu li a {
    font-size: 22px;
    line-height: 22px;
  }
  .products__point {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
  .products__point__text {
    font-size: 20px;
    text-align: left;
  }
  .products__point__icon-container {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 43px;
            flex: 0 0 43px;
    margin: 0 20px 0 0;
    height: auto;
  }
  .products__point__icon {
    margin: 0;
  }
  .products__point:not(:last-child) {
    border-right: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #home h1 {
    font-size: 50px;
    line-height: 50px;
  }
  .section-nos-formations h3 {
    margin-top: 80px;
    font-size: 30px;
    line-height: 30px;
  }
  .section-nos-formations p {
    font-size: 14px;
  }
  .section-nos-thematiques {
    background: no-repeat url("../images/background-thematique.jpg");
    display: block;
    min-height: 940px;
    background-size: cover;
    max-width: 100%;
    background-position: center;
    margin: auto;
  }
  .section-offres-emploi-alternance .offre-emploi {
    min-height: 270px;
  }
  .section-temoignages .background-photo-temoignage {
    margin: auto;
    float: right;
  }
  .products__filtres {
    height: 90px;
  }
  .products__point {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
  .products__point__text {
    font-size: 20px;
    text-align: left;
  }
  .products__point__icon-container {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 43px;
            flex: 0 0 43px;
    margin: 0 20px 0 0;
    height: auto;
  }
  .products__point__icon {
    margin: 0;
  }
  .products__point:not(:last-child) {
    border-right: none;
  }
  .products__categories-hint {
    background: no-repeat url("/assets/imgs/produits/multichannel.png");
    background-position: center 50px;
    background-color: #242f6d;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .products__categories-hint__title-container {
    background: none;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
  .products__categories-hint__title {
    font-size: 40px;
    margin-bottom: 10px;
    line-height: 37px;
  }
  .products__categories-hint__text {
    padding: 0;
    margin: 0;
    border-left: none;
  }
  .about__hint__img {
    height: 300px;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
  .about__header__text {
    padding: 0;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  header .logo-mobile {
    padding: 12px 0;
  }
  .section-ecole-en-ligne-en-alternance {
    background: no-repeat url("../images/section-ecole-en-ligne-en-alternance-mob.jpg");
    min-height: 513px;
    background-position: center;
  }
  .section-offres-emploi-alternance .offre-emploi {
    min-height: 200px;
  }
  .section-temoignages .background-photo-temoignage {
    background: no-repeat url("../images/background-photo-temoignage.jpg");
    min-height: 150px;
    background-size: cover;
    width: 150px;
    background-position: center;
    margin: auto;
  }
  .section-temoignages .background-photo-temoignage .img-fluid {
    max-width: 90%;
    height: auto;
  }
  .section-temoignages .temoignage-padding {
    padding-bottom: 50px;
  }
  .products__filtres {
    height: 90px;
  }
  .products__point {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
  .products__point__text {
    font-size: 20px;
    text-align: left;
  }
  .products__point__icon-container {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 43px;
            flex: 0 0 43px;
    margin: 0 20px 0 0;
    height: auto;
  }
  .products__point__icon {
    margin: 0;
  }
  .products__point:not(:last-child) {
    border-right: none;
  }
  .products__categories-hint {
    background: no-repeat url("/assets/imgs/produits/multichannel.png");
    background-position: center 50px;
    background-color: #242f6d;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .products__categories-hint__title-container {
    background: none;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
  .products__categories-hint__title {
    font-size: 40px;
    margin-bottom: 10px;
    line-height: 37px;
  }
  .products__categories-hint__text {
    padding: 0;
    margin: 0;
    border-left: none;
  }
  .about__hint__img {
    height: 300px;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
  .about__header__text {
    padding: 0;
  }
  .about__header {
    margin-bottom: -60px;
  }
}

@media (max-width: 575px) {
  header .navbar {
    top: -8px;
  }
  .section-ecole-en-ligne-en-alternance {
    background: no-repeat url("../images/section-ecole-en-ligne-en-alternance-mob.jpg");
    min-height: 513px;
    background-position: 44% 100%;
  }
  .section-offres-emploi-alternance .offre-emploi {
    min-height: 240px;
  }
  .section-offres-emploi-alternance .offre-emploi .tag-offre {
    padding: 5px 5px;
  }
  .section-offres-emploi-alternance .offre-emploi p {
    text-align: left;
    padding-top: 15px;
    font-weight: bold;
    font-size: 17px;
  }
  .section-temoignages .background-photo-temoignage {
    background: no-repeat url("../images/background-photo-temoignage.jpg");
    min-height: 93.5px;
    background-size: cover;
    width: 93.5px;
    background-position: center;
    margin: auto;
  }
  .section-temoignages .background-photo-temoignage .img-fluid {
    max-width: 90%;
    height: auto;
  }
  .section-temoignages .temoignage-padding {
    padding-bottom: 50px;
  }
  .products__filtres {
    height: 90px;
  }
  .product-card__info {
    border-left: none;
    border-top: 1px solid #242f6d;
  }
  .product-card__profile {
    margin: 0 0 0 auto;
  }
  .products__point {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
  .products__point__text {
    font-size: 20px;
    text-align: left;
  }
  .products__point__icon-container {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 43px;
            flex: 0 0 43px;
    margin: 0 20px 0 0;
    height: auto;
  }
  .products__point__icon {
    margin: 0;
  }
  .products__point:not(:last-child) {
    border-right: none;
  }
  .products__categories-hint {
    background: no-repeat url("/assets/imgs/produits/multichannel.png");
    background-position: center 50px;
    background-color: #242f6d;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .products__categories-hint__title-container {
    background: none;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
  .products__categories-hint__title {
    font-size: 40px;
    margin-bottom: 10px;
    line-height: 37px;
  }
  .products__categories-hint__text {
    padding: 0;
    margin: 0;
    border-left: none;
  }
  .about__hint__img {
    height: 300px;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
  .about__header__text {
    padding: 0;
  }
  .about__header {
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=style.css.map */