@media (min-width: 1200px) {
  .products__point {
    line-height: 30px;
  }
  .job__content__point {
    padding-right: 200px;
  }
  .heading.heading--one.small {
    font-size: 45px;
  }
  .job__header__info {
    margin-right: 40px;
    flex: auto;
    margin-bottom: 0;
  }
  .heading--one {
    line-height: 55px;
  }
  .job__header {
    height: 230px;
    margin-bottom: -195px;
  }
  .job__header__content {
    margin-bottom: 70px;
  }
  .alternance__contracts__table__col {
    &:last-child {
      & > *:not(.alternance__contracts__table__header) {
        border: solid 1px #b1b1b1;
        border-top: none;
        border-left: none;
      }
    }
  }
  .modale {
    &__title {
      font-size: 40px;
    }
  }
}
