@font-face {
  font-family: "Bebas-Neue-Book";
  src: url("/fonts/Bebas-Neue-Book.ttf.woff") format("woff"),
    url("/fonts/Bebas-Neue-Book.ttf.svg#Bebas-Neue-Book") format("svg"), url("/fonts/Bebas-Neue-Book.ttf.eot"),
    url("/fonts/Bebas-Neue-Book.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

.chemin {
  color: white;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  .home-icon {
    height: 15px;
    margin-right: 7px;
  }
}

.button {
  text-transform: uppercase;
  font-size: 17px;
  font-family: "BebasNeue";
  display: flex;
  align-items: center;
  height: 35px;
  padding: 0 10px;
  border: none;
  color: $base-color;
  background: white;
  &--primary {
    &:hover {
      background: white;
    }
  }
  &--secondary {
    color: white;
    background-color: $pink;
  }
  &--big {
    padding: 0 20px;
    display: flex;
    justify-content: center;
    font-size: 29px;
    height: auto;
    & > * {
      position: relative;
      top: 2px;
    }
  }
}

.heading {
  font-family: "BebasNeue";
  color: $base-color;
  margin-bottom: 0;
  &.small {
    font-size: 32px;
    line-height: 30px;
  }
  &--one {
    font-size: 55px;
    line-height: 55px;
    color: white;
    &.small {
      line-height: 30px;
      font-size: 30px;
    }
  }
  &--two {
    font-size: 50px;
    line-height: 45px;
  }
  &--three {
    font-size: 20px;
    line-height: 30px;
    position: relative;
    top: 1px;
  }
}

p {
  color: $base-color;
  margin: 0;
  line-height: normal;
  font-family: "Roboto", sans-serif;
  &.small {
    font-size: 14px;
  }
}

.blue {
  color: $base-color;
}

.white {
  color: white;
}

b {
  font-weight: 700;
}

.left-container-shape {
  position: absolute;
  top: 40px;
  left: -160px;
}

a {
  color: $base-color;
  text-decoration: underline;
  &:hover {
    color: $base-color;
  }
}
