@font-face {
  font-family: "Bebas-Neue-Book";
  src: url("/fonts/Bebas-Neue-Book.ttf.woff") format("woff"),
    url("/fonts/Bebas-Neue-Book.ttf.svg#Bebas-Neue-Book") format("svg"), url("/fonts/Bebas-Neue-Book.ttf.eot"),
    url("/fonts/Bebas-Neue-Book.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

.chemin {
  color: white;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  .home-icon {
    height: 15px;
    margin-right: 7px;
  }
}

.button {
  text-transform: uppercase;
  font-size: 17px;
  font-family: "BebasNeue";
  display: flex;
  align-items: center;
  height: 35px;
  padding: 0 10px;
  border: none;
  color: $base-color;
  &--primary {
    &:hover {
      background: white;
    }
  }
  &--secondary {
    color: white;
    background-color: $pink;
    &:hover {
      // background: #fff;
    }
  }
}

.heading {
  font-family: "BebasNeue";
  color: $base-color;
  margin-bottom: 0;
  line-height: 40px;
  &.small {
    font-size: 32px;
  }
  &--one {
    font-size: 55px;
    color: white;
    line-height: 55px;
    &.small {
      font-size: 45px;
    }
  }
  &--three {
    font-size: 20px;
    line-height: 30px;
    position: relative;
    top: 1px;
  }
}

p {
  margin: 0;
  line-height: normal;
  font-family: "Roboto", sans-serif;
  &.small {
    font-size: 14px;
  }
}

.blue {
  color: $base-color;
}
.white {
  color: white;
}
b {
  font-weight: 700;
}
