/* START FONT -------------------------------->> */
@font-face {
	font-family: 'BebasNeue';
	src: url('../fonts/BebasNeue-Regular.eot');
	src: url('../fonts/BebasNeue-Regular.eot') format('embedded-opentype'),
	url('../fonts/BebasNeue-Regular.woff2') format('woff2'),
	url('../fonts/BebasNeue-Regular.woff') format('woff'),
	url('../fonts/BebasNeue-Regular.ttf') format('truetype'),
	url('../fonts/BebasNeue-Regular.svg#BebasNeue-Regular') format('svg');
}

@font-face {
	font-family: 'BebasNeueRegular';
	src: url('../fonts/BebasNeueRegular.eot');
	src: url('../fonts/BebasNeueRegular.eot') format('embedded-opentype'),
	url('../fonts/BebasNeueRegular.woff2') format('woff2'),
	url('../fonts/BebasNeueRegular.woff') format('woff'),
	url('../fonts/BebasNeueRegular.ttf') format('truetype'),
	url('../fonts/BebasNeueRegular.svg#BebasNeueRegular') format('svg');
}
/* END FONT << -------------------------------- */