.modale {
  background-color: $block-bg;
  padding: 60px 80px 170px;
  background-image: url("/assets/imgs/modal/bg-desktop.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  &__title {
    color: $pink;
    margin-left: 20px;
    font-size: 35px;
  }
  &__btn {
    margin-top: 10px;
    font-size: 25px;
    color: white;
    background-color: $pink;
    img {
      position: relative;
      top: -1px;
      margin-right: 10px;
    }
  }
}
